{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="card">
  <div class="card-body">
    <h2 class="mb-4 text-center">Dashboard</h2>
    <div style="display: flex; justify-content: center; flex-wrap: wrap; gap: 30px;">
      <div style="text-align: center;">
        <a href="/intake">
          <img src="{{ url_for('static', filename='img/client_intake.png') }}" alt="Client Intake" width="100">
          <div>Client Intake</div>
        </a>
      </div>
      <div style="text-align: center;">
        <a href="/case_result">
          <img src="{{ url_for('static', filename='img/case_results.png') }}" alt="Case Results" width="100">
          <div>Submit Case Result</div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}