{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<style>
  .dashboard-icon {
      width: 100px;
      height: 100px;
      object-fit: contain;
      display: block;
      margin: 0 auto;
  }
</style>
<h2 class="mb-4 text-center">Dashboard</h2>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 col-md-3 text-center mb-4">
      <a href="/intake">
        <img src="{{ url_for('static', filename='img/client_intake.png') }}" alt="Client Intake" class="dashboard-icon">
        <div>Client Intake</div>
      </a>
    </div>
    <div class="col-6 col-md-3 text-center mb-4">
      <a href="/case_result">
        <img src="{{ url_for('static', filename='img/case_results.png') }}" alt="Case Results" class="dashboard-icon">
        <div>Case Result</div>
      </a>
    </div>
    <div class="col-6 col-md-3 text-center mb-4">
      <a href="/expungement">
        <img src="{{ url_for('static', filename='img/expungement_generator.png') }}" alt="Expungement Generator" class="dashboard-icon">
        <div>Expungement Generator</div>
      </a>
    </div>
    <div class="col-6 col-md-3 text-center mb-4">
      <a href="/admin/leads">
        <img src="{{ url_for('static', filename='img/admin_panel.png') }}" alt="Admin Panel" class="dashboard-icon">
        <div>Admin Panel</div>
      </a>
    </div>
  </div>
</div>
{% endblock %}